<!-- views/partials/scripts.ejs -->
<script src="/js/main.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/charts.js"></script>
<script src="/js/sidebar.js"></script>
<script src="/js/dropdown.js"></script>
<script src="/js/dragAndDrop.js"></script>
<script src="/js/settings.js"></script>
</body>
</html>
